%a.selector-list-item-link{href: '{{link()}}', ng-controller: 'NotificationController'}
  not: {{notification}}
  event: {{event}}
  .media-left
    .thread-item-proposal-icon
  .media-body
    %span{translate: 'notifications.motion_closing_soon', translate-value-proposal: '{{event.proposal().name}}' }
